*{
  padding: 0;
  margin: 0;
  font-style: normal;
  font-family: 'Segoe UI', sans-serif;
  font-weight: 600;
  line-height: 140%;
}

body{
  place-items: start !important;
}

.app{
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 15px;
  padding: 20px;
}

#root{
  width: 100%;
}
:root{
  --green-color: #50B810;
  --blue-color: #3D8FEC;
  --violet-color: #B233A6;
  --primary-gray: #7B8AAB;
  --black-primary: #555;
  --gray-color: #EBEEF6;
  --gray-dark-color: #616C82;

  --white-moddle-color: #F4F8FF;
}
